@media screen and (min-width:390px) and (max-width:1300px   ){
    .bg{
        width:100%;
    }
    .heading{
        width:250px;
    }
    .heading > h1{
        font-size: 22px;
    }
    .card{
        width: 240px;
        height: 550px;
    }
}